<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <permission android:name="com.crewcheck.app.drivelab.permission.READ_DRIVE" android:protectionLevel="signature" />
    <queries><package android:name="com.crewcheck.auto.prototype" /></queries>
    <application android:label="CrewCheck Phone Lab" tools:replace="android:label">
        <provider android:name="com.crewcheck.app.CrewCheckDriveProvider"
            android:authorities="${applicationId}.drive" android:exported="true"
            android:grantUriPermissions="false"
            android:permission="com.crewcheck.app.drivelab.permission.READ_DRIVE" />
    </application>
</manifest>
